
p, td, th, li {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Verdana;
}
h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
    margin-top: 3rem;
}

nav {
    background-color: rgb(87, 87, 87);
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;

}

#logo {
    width: 4rem;
    border-radius: 20%;
    float: right;
}

 .nav-links > a, .nav-links > span {
    color: white;
    font-size: 20px;
    font-family: Verdana;
    margin: 10px;
}
.nav-links {
    display: flex;
    flex-direction: row;
}
nav a:hover {
    background-color: rgb(54, 151, 255);
}

footer {
    background-color: rgb(87, 87, 87);
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;

}

.middle-section {
    display: flex;
    flex-direction: row;
}

.left-bar, .right-bar {
    background-color: gray;
    width: 15vw;
    border-radius: 10px;
    margin:2px

}

.posts > .posts-begin {
    color: rgb(103, 80, 194);
    font-style: italic;
}
.posts {
    width: 70vw;
    margin: 0 5vw 5vw 5vw;
}

.post {
    background-color: rgb(240, 240, 240);
    border-radius: 30px;
    border: solid 2px rgb(200, 200, 200);
    margin: 2rem 0 2rem 0;
    padding: 2rem;
}

.posts-begin + div {
    background-color: rgb(236, 232, 254);
    border: solid 5px rgb(119, 106, 178);
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.post-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-content img {
    width: 100%;
    border-radius: 10px;
}
.post-content a {
    font-family: Verdana;
    color: rgb(17, 78, 201);
    font-size: 20px;
}
.post-content a:hover {
    color: rgb(47, 158, 255);
}

.post-top img {
    border-radius: 100%;
    width: 3rem;
}

.post-bottom {
    padding-top: 1rem;
}

.post-bottom .like-button {
    border-radius: 100%;
    width: 2rem;
}
.post-bottom .like-button:hover, #submit-button:hover, #file:hover {
    opacity: 0.6;
}
.post-top ~ div {
    margin-top: 2rem;
}

.post-content table {
    width: 100%;
    border-collapse: collapse;
    border: solid 2px rgb(19, 52, 19);
}
.post-content td {
    border: solid 2px rgb(19, 52, 19);
    text-align: center;
    background-color: rgb(223, 254, 223);;
    width: 25%;
}
.post-content th {
    border: solid 2px rgb(19, 52, 19);
    text-align: center;
    background-color: rgb(188, 239, 188);;
}
.post-content td:hover{
    background-color: rgb(244, 255, 240);;
}

li {
    list-style: square;
    margin-top: 10px;
}

footer img {
    width: 4rem;
    border-radius: 10px;
}
footer > .footer-left > p {
    color: white;
    font-size: 16px;
    font-family: Verdana;
    margin: 6px;
}



section {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.container{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items:flex-start;
    background-color: rgb(226, 221, 221);
    gap: 3rem;
    padding: 4rem 2rem 4rem 1rem;     
    margin: 1rem;
    border-radius: 4px;  
    width: 50%;
    max-width: 90%;
    box-sizing: border-box;
}
textarea {
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    min-height: 12rem;
    min-width: 18rem;
    border: none;
    min-width: 60%;
    max-width: 90%;
    margin-right: 2rem;
}


.submit{
    align-self: center;

}
#submit-button{
    background-color: #1c4198; 
    color: #f8f8f8;
    padding: 0.5rem 2rem; 
    border: none; 
    cursor: pointer;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
#file-button{
    display: none;
}
#buttonlabel{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    text-align: center; /* Horisontaalne keskjoondamine */
    line-height: 1.5rem; /* Vertikaalne joondamine vastavalt kõrgusele */
    height: 1.5rem;
    color:white;
    background-color: #6d717a;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-size: 16px;
    white-space: nowrap;
    
    

}

.addpost {
    display: flex; 
    font-size: 20px;
    margin-right: 2rem;
    width: 100%;
}

.addpost label{
    margin-right: 20px;
    min-width: 100px;
    max-width: 5px; 
}

.logintext{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    align-self: center;
    font-size: 25px;
}
#createaccount-button{
    color: rgb(34, 191, 196);
    cursor: pointer;
}

.logintext label{
    min-width: 100px;
    text-align: center;
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    font-size: 25px;
}
form input{
    width: 200px;
    height: 25px;
    resize: none;
    padding: none;
    margin: 4% 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
form button{
    background-color: #1c4198; 
    color: #f8f8f8;
    padding: 0.5rem 2rem; 
    border: none; 
    cursor: pointer;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
form button:hover {
    background-color: #4b51c87e;
}


@media (max-width: 700px) {
    section {
        padding: 2rem;
    }
    .container {
        width: 90%;
        padding: 4rem 1rem;
        gap: 2rem;
        
    }
    #postBody {
        font-size: 14px;
        min-height: 200px; 
    }
    textarea {
        font-size: 16px;
        min-height: 12rem;
        width: 100%; 
        min-width: unset;
    }
    
    
    
    


}
    
    

    
    

















